<!DOCTYPE html>
<html lang="en">
 
<head>
     <link rel="icon" 
      type="image/jpg" 
      href="../static/luggage.jpg">
    <title>Unauthorized Access:: Python Luggage App</title>
 
 
    

<style>
    .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
</style>
 </head>
<body>
 
    <div class="container">
        <div class="navbar">
            <nav>
                    <a href="/">Home</a>
                    
                    <a href="/showSignIn">Sign In</a>
                    
                    <a href="/showSignUp">Sign Up</a>
                    
                
            </nav></div>
            
        
        
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        
 
    </div>
</body>
 
</html>




